---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Current Location'
    value: page.localisation
  - label: 'Country'
    value: page.country
  - label: 'city'
    value: page.city
  - label: 'inventory'
    value: page.iventory
  - label: 'juz'
    value: page.juz
  - label: 'Sura number'
    value: page.sura_number
  - label: 'Sura in Arabic'
    value: page.sura_title_arabic 
  - label: 'Sura in English'
    value: page.sura_title_english 
  - label: 'Bibliography'
    value: page.bibliography   
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
